html, body, .App {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}

.App {
    background-color: #2B303C;
    display: flex;
}

.sideBar {
    box-sizing: border-box;
    height: 100%;
    width: 12%;
    
    border-right: 1px solid black;
    
    background-color: #252833;
}

.sideBarTitle {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: large;
    font-weight: 700;
}

.sideBarTools {
    box-sizing: border-box;
    width: 100%;
    height: 90%;
    padding: 15% 0 5% 0;
}

.sideBarTool {
    width: 100%;
}

.sideBarSubTitle {
    box-sizing: border-box;
    width: 100%;
    height: 5%;
    padding-left: 5%;
    margin-bottom: 2%;
    border-radius: 1px;
    color: white;
    font-size: medium;
    font-weight: 800;
}

.sideBarTodoTitle {
    width: 100%;
    font-size: small;
}

.sideBarTodoTitle > div:hover {
    background-color: #383D49;
    cursor: pointer;
}

.sideBarTodoTitle > div {
    padding: 3% 10%;
    margin-bottom: 1%;
    color: #5E6673;
    font-weight: 800;
}

.main {
    width: 88%;
    height: 100%;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 8%;
    border-bottom: 1px solid black;
    background-color: #252833;
}

.todoApp {
    box-sizing: border-box;
    width: 100%;
    height: 92%;
    padding: 5% 15%;
}

.todoTitle {
    margin-bottom: 20px;
    color: white;
    font-size: xx-large;
    font-weight: 800;
}

.todoItem {
    color: white;
    margin-bottom: 3px;
    border: 1px solid #24262F;
    border-radius: 2px;
}

.todoItem::first-letter {
    text-transform: uppercase;
}

.todoText {
    padding: 5px 10px;
    border: 1px solid #24262F;
    border-radius: 2px;
    color: white;
}

.todoInput {
    margin-top: 25px;
    background-color:  #252833;
    border: 1px solid #24262F;
    border-radius: 2px;
}

.todoInput > input {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: larger;
}

input:focus {
    outline: none;
}

.buttonInput {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.buttonInput > button {
    padding: 10px 10px;
    border-bottom: 1px solid black;
    border-radius: 2px;
    border: none;
    background-color: #CF6679;
    color: white;
    font-weight: 800;
}

button:focus {
    outline: none;
}


.isDo {
    background-color: #CF6679;
}

.isDo:hover, .buttonInput > button:hover {
    background-color: #B00020;
    cursor: pointer;
}

.isNotDo {
    background-color: #252833;
}

.isNotDo:hover {
    background-color: #262B37;
    cursor: pointer;
}